<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gigi.bustracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    读取手机基本信息权限READ_PHONE_STATE，用于精确统计用户的机型等信息(必须)，mogo
	会使用该权限
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
    读取网络信息权限ACCESS_NETWORK_STATE，用于识别gprs网络的接入点的情况(必须)，
	mogo会使用该权限
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
    获取用户地理信息权限，用于帮助精确统计开发者的程序发布之后的用户分布情况 ，mogo会
	使用该权限
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--
    读写sd 卡的权限，用于缓存广告所用到的图片，节省流量，并可获得更好的用户体验 ，mogo
	会使用该权限
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 获得当前wifi的状态，微云广告平台需要此权限，mogo会使用该权限 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
	 
	<!-- 按效果付费功能需要的权限,mogo会使用该权限 --> 
	<uses-permission android:name="android.permission.GET_TASKS" /> 
	 
	<!-- 多盟所需权限，无此权限多盟将无法展示广告--> 
	<uses-permission android:name="android.permission.VIBRATE" /> 



    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name="com.gigi.bustracker.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
<!-- 广告开始 -->
        <!-- 芒果 -->
        <activity 
			android:name="com.adsmogo.adview.AdsMogoWebView" 
			android:configChanges="orientation|keyboardHidden" 
  			android:label="@string/app_name"/>
        
        <!-- 百度 -->
        <activity android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"></activity>
        
        <!-- 多盟 -->
        <activity android:name= "cn.domob.android.ads.DomobActivity"
            android:theme = "@android:style/Theme.Translucent" ></activity > 
        
        <meta-data android:name="BaiduMobAd_APP_ID" android:value="f8a1fa59"/>
        <meta-data android:name="BaiduMobAd_APP_SEC" android:value="f8a1fa59_13b50d6f"/>
<!-- 广告结束 -->
        
    </application>

</manifest>